<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<xi:include href="header/fase.html" />
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
	<link type="text/css" href="${tg.url('/css/redmond/jquery-ui-1.8.13.custom.css')}" rel="stylesheet" />
	<script type="text/javascript" src="${tg.url('/jquery/jquery-1.5.1.min.js')}"></script>
	<script type="text/javascript" src="${tg.url('/jquery/jquery-ui-1.8.13.custom.min.js')}"></script>
	<script type="text/javascript" src="${tg.url('/jquery/sap-ui.js')}"></script>
  <title>Mi proyecto </title>
</head>

<body>
	${sub_header()}
	<section id="inner-content">
		<aside id="dashboard-sidebar">
			<div class="project-info">
				<h4>Fase info
					<span>
						<a class="edit-project" >Edit</a>
					</span>
				</h4>
				<h5>Nombre </h5>
				<p></p>
				<p>${params['fase'].nombre}</p>
				<p></p>
				<h5>Descripcion </h5>
				<div id="selected-tags">
				</div>
				<p></p>
				<p>${params['fase'].descripcion}</p>
				<p></p>
			</div>
			<div class="project-info">
				<h4>Participantes
					<span>
						<a class="add-member" href="/miproyecto/fase/participantes/${params['idfase']}">A&ntilde;adir</a>
					</span>
				</h4>
				<ul id="team">

					<!--li py:for="usuario in usuarios">
						<img src="/img/saved_resource" alt="">${usuario.user_name}
							<div class="member-edit">
								<a>Delete</a>
							</div>
						</img>
					</li-->

				</ul>
			</div>
		</aside>
		<h2>Listado de ${params['modelname']}</h2>
		<br/>
		<br/>
		<div style="float:left; width: 60%">
			${tmpl_context.widget(value=value)}
		</div>
		
	</section>
	<a class = "add-button" py:if="tg.predicates.has_permission(params['permiso'])"
			style="width:120px; margin-top:10px" href="${params['new_url']}">
					+ Nuevo
		</a>
</body>
</html>
