<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<xi:include href="header/item.html" />
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Mi proyecto </title>
</head>

<body>
	${sub_header()}
	<section id="inner-content">
		${sidebar()}
		<li class="main" style="width: 79%; ">
			<div class="block">
				<h3>
					<a>
						Item : #${params['item'].id_item}
						<a py:if="tg.predicates.has_permission(params['permiso_editar'])" href="/miproyecto/fase/item/${params['item'].id_item}/edit" >
							<img src= "/img/icons/document_edit_small.png"
								 style= "float:left;">
							</img>
						</a>
					</a>
					<a py:if="tg.predicates.has_permission(params['permiso_eliminar'])" style= "float:right;" href="/miproyecto/fase/item/eliminar/${params['item'].id_item}" >
						<img src= "/img/icons/trash.png"/>
					</a>
				</h3>
				<ul>
					<li class="project-info">
						<h5>Nombre</h5>
						<p></p>
						<p>${params['item'].nombre}</p>
						<table style="width:100%;">
							<tr>
								<td style=";padding:0px 0px 15px 0px;">
									<h5> Estado</h5>
									<p></p>
									<p>${params['item'].estado_actual.nombre}</p>
									<h5> Prioridad</h5>
									<p></p>
									<p>${params['item'].prioridad}</p>
								</td>
								<td style="width: 35%;">
									<h5> Version</h5>
									<p></p>
									<p>${params['item'].version}</p>
									<h5> complejidad</h5>
									<p></p>
									<div class="progbar">
										<div class="progress" style="width:${params['progreso']}%">${params['progreso']}%</div>
									</div>
								</td>
							</tr>
						</table>
						<h5> Descripci&oacute;n</h5>
						<p></p>
						<p>${params['item'].descripcion}</p>
						<h5>Observaci&oacute;n</h5>
						<p></p>
						<p>${params['item'].observacion}</p>
						<h5>Tipo de item</h5>
						<p></p>
						<p>${params['tipo_item']}</p>
						<h5>Linea Base</h5>
						<p></p>
						<p>${params['linea_base']}</p>
					</li>
					<h3><a>Atributos</a></h3>
					${tmpl_context.widget(value=value)}
				</ul>
			</div>
		</li>
	</section>
</body>
</html>
