<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <script type="text/javascript" src="http://localhost:8080/jquery/jquery.js"></script>
<script type="text/javascript" src="http://localhost:8080/jquery/table.sorter.js" ></script>
<script type="text/javascript" src="http://localhost:8080/jquery/table.filter.js" ></script>
<script type="text/javascript" src="http://localhost:8080/jquery/table.filter_and_sorter.js " ></script>

<title>Listado de ${modelname}</title>
</head>

<body>

<div style="float:left width: 80%">
	<h1 style="margin-top:1px;">Listado de ${modelname}</h1>
	${tmpl_context.widget(value=value)}
</div>
<p><a class="button" py:if='tg.predicates.has_permission("crear_"+modelname[:-1].lower())' href="new/">Nuevo</a></p>
<br/>
</body>
</html>
