<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Listado de ${modelname}</title>
</head>

<body>

<h1>${page}</h1>
<table>
	<thead>
	<!--Muestra el nombre de las columnas -->
	<py:for each="items in headers">
		<tr>
			<th py:for="item in items" py:content="item"></th>
		</tr>
		
	</py:for>
	</thead>
	<!--Muestra las filas-->
	<tbody>
	<py:for each="items in array">
		<tr>
			<td py:for="item in items" py:content="item"></td>
		</tr>
	</py:for>
	</tbody>
</table>
<p><a href="/${modelname}/new">Nuevo</a></p>

</body>
</html>
