<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Mi proyecto </title>
</head>

<body>

		<li class="first">
			<a href='/miproyecto/fase/${idproyecto}/new' class="">Nueva Fase</a>
			<a href='/administracion/???' class="">Configurar</a>
			<a href='/administracion/???' class="">Participantes</a>
		</li>
		
		<li> Listado de Fases del proyecto </li>
		
		<div style="float:left width: 80%">
			${tmpl_context.widget(value=value)}
		</div>
</body>
</html>


