<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<xi:include href="header/${params['header_file']}.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Nuevo ${params['modelname']}</title>
</head>

<body>
	${sub_header()}
<h2>${params['title']}</h2>

<!--div py:replace="tmpl_context.form()">Input Form</div-->
<div>
	<div style="float:left width: 80%">
		${tmpl_context.widget(value=value, action='./')}
			<td class="fieldcol">
				<a class = "add-button" style="width:120px; margin-top:10px" 
										href="${params['cancelar_url']}">
					Cancelar
				</a>
			</td>

	</div>
</div>
</body>
</html>
