<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<xi:include href="header/abstract.html" />
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
	<link type="text/css" href="${tg.url('/css/redmond/jquery-ui-1.8.13.custom.css')}" rel="stylesheet" />
	<script type="text/javascript" src="${tg.url('/jquery/jquery-1.5.1.min.js')}"></script>
	<script type="text/javascript" src="${tg.url('/jquery/jquery-ui-1.8.13.custom.min.js')}"></script>
	<script type="text/javascript" src="${tg.url('/jquery/sap-ui.js')}"></script>
  <title>Tipo de Item </title>
</head>

<body>
	${sub_header()}
	<section id="inner-content">
		<aside id="content-sidebar">
			<div class="filters">
				<h4>Nuevo Atributo</h4>
				<div id="new-sidebar" >
					${tmpl_context.widget(value=value)}
				</div>
			</div>
		</aside>
			<li class="main" style="width: 79%; ">
				<div class="block">
				<h3>
					<a>
						Tipo Item : #${params['tipo_item'].id_tipo_item}
						<img src= "/img/icons/document_edit_small.png"
							 style= "float:left;">
						</img>
					</a>
					<a style= "float:right;"  >
						<img src= "/img/icons/trash.png"/>
					</a>
				</h3>
				<ul>
					<li class="project-info">
						<h5>Nombre</h5>
						<p></p>
						<p>${params['tipo_item'].nombre}</p>
						<h5> Codigo</h5>
						<p></p>
						<p>${params['tipo_item'].codigo}</p>
						<h5> Fase</h5>
						<p></p>
						<p>${params['tipo_item'].fase}</p>
						<h5> Descripci&oacute;n</h5>
						<p></p>
						<p>${params['tipo_item'].descripcion}</p>

						<h3><a>Atributos</a></h3>
						<table style="width:100%;">
							<tr>
								<th><h5>Nombre</h5></th>
								<th><h5>Tipo</h5></th>
							</tr>
							<tr py:for="atributo in params['tipo_item'].atributos">
								<td><p>${atributo.nombre}</p></td>
								<td><p>${atributo.tipo.nombre}</p></td>
							</tr>
						</table>
					</li>
				</ul>
			</div>
		</li>
	</section>
</body>
</html>
