<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<py:def function="sub_header">
<header class="content-header">
	<nav>
		<ul>
			<li id="nav-dashboard" class="first">
				<a href="/proyectos">Inicio</a>
			</li>
			<li id="nav-dashboard" py:if="tg.predicates.has_permission('ver_item')" >
				<a href="/miproyecto/fase/get_all/${params['idfase']}">Items</a>
			</li>
			<li id="nav-dashboard" py:if="tg.predicates.has_permission('ver_tipo_item')" >
				<a href="/miproyecto/fase/tipo_item/list/${params['idfase']}">Tipos de Item</a>
			</li>
			<li id="nav-agenda" py:if="tg.predicates.has_permission('ver_item')" >
				<a href="/miproyecto/fase/item/items_borrados/${params['idfase']}">Historial de Items</a>
			</li>
			<li id="nav-agenda" py:if="tg.predicates.has_permission('ver_item')" >
				<a href="/miproyecto/fase/relacion/list/${params['idfase']}">Administrar Relaciones</a>
			</li>
			<li id="nav-agenda" py:if="tg.predicates.has_permission('generar_lineabase')" >
				<a href="/miproyecto/fase/linea_base/list/${params['idfase']}">Lineas Base</a>
			</li>
		</ul>
	</nav>
</header>
</py:def>

<py:def function="sidebar">
	<aside id="dashboard-sidebar">
		<div class="project-info">
			<h4>Fase info
				<span>
					<a class="edit-project" py:if="params['permiso_editar']">Edit</a>
				</span>
			</h4>
			<h5>Nombre </h5>
			<p></p>
			<p>${params['fase'].nombre}</p>
			<p></p>
			<h5>Descripcion </h5>
			<div id="selected-tags">
			</div>
			<p></p>
			<p>${params['fase'].descripcion}</p>
			<p></p>
		</div>
		<div class="project-info">
			<h4>Participantes
				<span>
					<a class="add-member" py:if="params['permiso_anadir']"
						href="/miproyecto/fase/participantes/admin/${params['idfase']}">A&ntilde;adir</a>
				</span>
			</h4>
			<ul id="team">

				<li py:for="usuario in params['usuarios']">
					<img src="/img/saved_resource" alt="">${usuario.user_name}
						<div class="member-edit">
							<a href="/miproyecto/fase/participantes/delete/${params['idfase']}/${usuario.usuario_id}">Delete</a>
						</div>
					</img>
				</li>

			</ul>
		</div>
	</aside>
</py:def>

</html>
