<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<py:def function="sub_header">
<header class="content-header">
	<nav>
		<ul>
			<li id="nav-dashboard" class="first">
				<a href="/proyectos">Inicio</a>
			</li>
			 <li id="nav-dashboard" py:if="tg.predicates.has_permission('crear_tipo_item')" >
				<a href="/miproyecto/fase/tipo_item/list/${params['idfase']}">Tipos de Item</a>
			</li>
			<li id="nav-agenda" py:if="tg.predicates.has_permission('ver_item')" >
				<a href="/miproyecto/fase/item/items_borrados/${params['idfase']}">Historial de Items</a>
			</li>
			<li id="nav-agenda" py:if="tg.predicates.has_permission('ver_item')" >
				<a href="/miproyecto/fase/relacion/list/${params['idfase']}">Administrar Relaciones</a>
			</li>
			<li id="nav-agenda" py:if="tg.predicates.has_permission('generar_lineabase')" >
				<a href="/miproyecto/fase/linea_base/list/${params['idfase']}">Lineas Base</a>
			</li>
		</ul>
	</nav>
</header>

</py:def>
</html>
