<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<py:def function="sub_header">
<header class="content-header">
	<nav>
		<ul> 
			<li id="nav-dashboard" class="first" 
				py:if="tg.predicates.has_permission('manage')">
				<a href="/proyectos">Inicio</a>
			</li> 
			 <li id="nav-dashboard" py:if="tg.predicates.has_permission('manage')" >
				<a href="${tg.url('/administracion/usuario/list')}">Tipos de Item</a>
			</li>
			<li id="nav-agenda" py:if="tg.predicates.has_permission('manage')" >
				<a href="${tg.url('/administracion/proyecto/listall')}">Historial de Items</a>
			</li>
		</ul>
	</nav>
</header>

</py:def>
</html>
