<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<py:def function="sub_header">
<header class="content-header">
	<nav>
		<ul>
			<li id="nav-dashboard" class="first">
				<a href="/proyectos">Inicio</a>
			</li>
			<li id="nav-dashboard" py:if="tg.predicates.has_permission('ver_item')" >
				<a href="/miproyecto/fase/get_all/${params['idfase']}">Items</a>
			</li>
		</ul>
	</nav>
</header>
</py:def>

<py:def function="sidebar">
	<aside id="content-sidebar">
		<div class="filters">
			<h4>Operaciones</h4>
			<div id="selected-tags">
				<h5>Item: ${params['item'].nombre}</h5>
				<ul>
					<li> <a py:if="tg.predicates.has_permission('editar_item')" href="/miproyecto/fase/item/impacto/${params['item'].id_item}" class="tag beige">Calculo de Impacto</a></li>
					<p></p>
					<li> <a py:if="tg.predicates.has_permission('editar_item')" href="/miproyecto/fase/item/historial_versiones/${params['item'].id_item}" class="tag beige">Revertir</a></li>
					<p></p>
					<li> <a py:if="tg.predicates.has_permission('aprobar_item')" href="/miproyecto/fase/item/aprobar_item/${params['item'].id_item}" class = "tag beige">Aprobar Item</a></li>
					<p></p>
				</ul>
			</div>
			<p></p>
		</div>
	</aside>
</py:def>
</html>
