<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<py:def function="sub_header">
<header class="content-header">
	<nav>
		<ul>
			<li id="nav-dashboard" class="first">
				<a href="/proyectos">Inicio</a>
			</li>
		</ul>
	</nav>
</header>
</py:def>

<py:def function="sidebar">
	<aside id="content-sidebar">
		<div class="filters">
			<h4>Operaciones</h4>
			<div id="selected-tags">
				<h5>Item: ${params['item'].nombre}</h5>
				<ul>
					<li> <a py:if="tg.predicates.has_permission('editar_item')" href="/miproyecto/fase/item/impacto/${params['item'].id_item}" class="tag beige">Calculo de Impacto</a></li>
					<p></p>
					<li> <a py:if="tg.predicates.has_permission('editar_item')" href="/miproyecto/fase/item/historial_versiones/${params['item'].id_item}" class="tag beige">Revertir</a></li>
					<p></p>
					<li> <a py:if="tg.predicates.has_permission('aprobar_item') and params['item'].estado_actual.nombre != 'Aprobado'" href="/miproyecto/fase/item/aprobar_item/${params['item'].id_item}" class = "tag beige">Aprobar Item</a></li>
					<p></p>
				</ul>
			</div>
			<p></p>
		</div>
		<br/>
		<div class="project-info">
			<h4>Archivos
			<span>
				<a href="/miproyecto/fase/item/archivo/${params['item'].id_item}/edit" class="add-member">Añadir</a>
			</span>
			</h4>
			<table>
			<tr py:for="archivo in params['item'].archivos">
				<td><a style="margin:20px;" href= '/miproyecto/fase/item/archivo/descargar/${archivo.id_archivo}'>${archivo.file_name}</a></td>
				<td ><a href= '/miproyecto/fase/item/archivo/eliminar/${archivo.id_archivo}'><img src= "/img/icons/trash.png"/></a></td>
			</tr>
			</table>
		</div>

	</aside>
</py:def>

<py:def function="come_history">
	<h2 class="module-title" py:if="request.identity" id="login" >
		<a href="/proyectos">Proyectos </a>
		<a href="/miproyecto/ver/${params['item'].fase_actual.proyecto}">Fases </a>
		<a href="/miproyecto/fase/get_all/${params['item'].fase}">Items </a>
		${params['item'].nombre}
	</h2>
</py:def>
</html>
