<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<py:def function="sub_header">
<header class="content-header">
	<nav>
		<ul>
			<li id="nav-dashboard" class="first">
				<a href="/proyectos">Inicio</a>
			</li>
		</ul>
	</nav>
</header>

</py:def>
<py:def function="sidebar">
	<aside id="dashboard-sidebar">
		<div class="project-info">
			<h4>Proyecto info
				<span><a class="edit-project" py:if="params['permiso_editar']"
					href = "/administracion/proyecto/${params['proyecto'].id_proyecto}/edit">Edit</a>
				</span></h4>
			<h5>Nombre </h5>
			<p></p>
			<p>${params['proyecto'].nombre}</p>
			<p></p>
			<h5>Estado </h5>
			<p>${params['proyecto'].estado.nombre}</p>
			<div py:if="params['proyecto'].estado.nombre == 'Inicial'" id="selected-tags">
				<li> <a href="/miproyecto/iniciar_proyecto/${params['proyecto'].id_proyecto}" class="tag beige">Iniciar Proyecto</a></li>
			</div>
			<h5>Descripcion </h5>
			<p></p>
			<p> ${params['proyecto'].descripcion} </p>
			<p></p>
		</div>
		<div class="project-info">
			<h4>Participantes
				<span>
					<a py:if="params['permiso_anadir']" href="/miproyecto/participantes/admin/${params['proyecto'].id_proyecto}" class="add-member">A&ntilde;adir</a>
				</span>
			</h4>
			<ul id="team">

				<li py:for="usuario in params['usuarios']">
					<img src="/img/saved_resource" alt="">${usuario.user_name}
						<div class="member-edit" py:if="params['permiso_anadir']">
							<a href="/miproyecto/participantes/delete/${params['proyecto'].id_proyecto}/${usuario.usuario_id}">Delete</a>
						</div>
					</img>
				</li>

			</ul>
		</div>
	</aside>
</py:def>
<py:def function="come_history">
	<h2 class="module-title" >
		<a py:if="request.identity" id="login" href="/proyectos">Proyectos </a>
		${params['proyecto'].nombre}
	</h2>
</py:def>
</html>
